<b><%= @team.name %></b>
<div class="container table-responsive py-5">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope='col'>Name</th>
        <th scope='col'></th>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td><%= link_to(member.name, team_members_path(member)) %> </td>
          <td><%= edit_link(member) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>