<div class='d-flex justify-content-end'>
  <div class='mr-2'>
    <%= render "shared/edit_button", name: "Edit", path: edit_path, class: 'm-5' %>
  </div>
  <div>
    <%= render "shared/delete_button", name: "Delete", path: delete_path %>
  </div>
</div>